{% extends 'layout.html' %}

{% block content %}

<div class="container">
	<h3> 
     Documentação
	</h3>

	<p>
		Para usar essa api é muito simples, basta pesquisar na <a href="/">pagina inicial<a> pelo ncm antigo e aparecerá os novos codigos que substituem o ncm antigo
	</p>
	<p>
		Essa api faz uso dos seguintes Endpoints:
	</p>

    <p>
	  Todos Ncms Antigos	
	</p>

	<code class="text-danger p-3">
		https://consulta-ncm.herokuapp.com/ncms_antigos
	</code>
	<br>
	<br>
	<p>
	  Todos Ncms Novos	
	</p>
    
	<code class="text-danger p-3">
		https://consulta-ncm.herokuapp.com/ncms_novos
	</code>
	<br>
	<br>
     <p>
	  Busca com base no ncm antigo	
	</p>
	<code class="text-danger p-3">
		https://consulta-ncm.herokuapp.com/{codigo_ncm}
	</code>
</div>

{% endblock %}