{% extends 'layout.html' %}

{% block content %}



<div class="container">
	
	<h3>
		Sobre
	</h3>

	<p>
		Essa api foi desenvolvido para consultas de novos ncms. Em 2022 a sefaz atualizou a lista de ncms e muitos já usados ficaram obsoletos. Para atender a demanda de muitos sistemas que ainda estão com os ncms antigos, foi desenvolvida essa api. A api serve como uma consulta para ajudar na atualização do mesmo. Consulte a <a href="/docs">documentação</a> para mais informações
	</p>
</div>


{% endblock %}